{% include html.liquid %}
    <title>{{ title }}</title>
    <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "WebPage",
          "name": "{{ title }}",
          "description": "{{ description }}",
          "publisher": {
            "@type": "Organization",
            "name": "{{ site.sitename }}",
            "url": "{{ page.url }}",
            "logo": "{{ site.web_logo }}",
            "foundingDate": "2016",
             "founders": [
                {
                 "@type": "Person",
                 "name": "Srivats Shankar"
                }
            ],
            "sameAs": [
             "https://twitter.com/LegalRepository",
             "https://github.com/LegalRepository"
            ]
          }
      }
    </script>
    {% include head.liquid %}

        <div class="add">
          <h1>{{ title }}</h1>
          {{ content | safe }}
        </div>

{% include tail.liquid %}
